a.active{
    color: #000000 !important;
    text-decoration: underline !important;
}

/** FORM CSS **/
input.active:valid {
    box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

select.active:valid {
    box-shadow: 0 0 5px 1px green;
}

select.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}

.navbar{
    top:5px;
}

#login{
    max-width : 400px;
}

.react-datepicker__input-container{
    display: block;
}

.react-datepicker{
    font-size: 1em;
}

.logo{
    width:50%;
}

.login-form{
    margin: 0px auto;
    margin-top: 1em;
}

.login-logo{
    width: 100px;
}

.well{
    min-height : 75px;
}

table{
    max-height: 200px !important;
    height: 200px !important;
}